@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
.conteudo-principal-titulo{
   color: #FFF2E7;
   text-align: center;
   font-size: 40px;
}
.conteudo-principal-subtitulo{
    color: #FFF2E7;
    font-size: 24px;
    text-align: center;
}
.utilização{
    color: #FFF2E7;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    border-bottom: solid 1px #FFF2E7;
}
.lista-ferramenta{
    display: flex;
    direction: column;
    text-decoration: none;
}
.minhaimagem{
    padding: 48px;
    height: 430px;
}

.htmlimage{
    height: 200px;
    
 
}
.cssimage{
    height: 200px;
    
}
